.App {
  text-align: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.TarotCardDescription {
  position:relative;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 80%;
}

.TarotCardDescription.fadeIn {
	animation-duration: 1s;
	animation-name: fadeInGradual;
}

.TarotCardImage {
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
	height: auto;
	width: 100%;
	max-width: 300px;
	animation-duration: 5s;
	animation-name: fadeInGradual;
}

.TarotCardImage img.Rotated {
	transform: rotate(180deg);
}


.AllCardContainer {
	width:100%;
	display: flex;
	flex-direction: row;
}


.TarotCardContainer{
	width: 28%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}





.RotationContainer {
  perspective: 2000px;
}

#flip-card {
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 3s;

}


#flip-card.flipped {
  transform: rotateY( 180deg );
}

#flip-card div {
  backface-visibility: hidden;
  position: absolute;
}

#flip-card img {
  height: 36vw;
  width: 24vw;
  position: absolute;
}

#flip-card-spacer {
  position: relative;
  height: 36vw;
}

#flip-card .front {
  transform: rotateY( 0deg );
  position: absolute;
}

#flip-card .back {
  transform: rotateY( 180deg );
  position: absolute;
}


@keyframes fadeInGradual {
   0% {opacity: 0;}
   100% {opacity: 1;}
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
